@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,600&family=Open+Sans&display=swap');

/*  This element sets the base layout, ensuring that the full height of the viewport is utilized by the page. 
Removing default browser margins for the purpose of consistent styling across browsers */
body {
    font-family: 'Open Sans', Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fafafa;
    /* Keeps header above other page content */
    z-index: 100;
}

h1, h2 {
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #252525;
    }

p {
        line-height: 2;
}

#logo {
    float: left;
    font-size: 150%;
    margin: 10px;
    padding: 20px;
    line-height: 75px;
}

/* navigation links */

#menu {
    display: flex;
    flex-wrap: wrap;
    font-size: 75%;
    letter-spacing: 4px;
    justify-content: flex-end;
}

#menu, #logo {
    margin: auto;
    padding: 20px;
    line-height: 75px;
}

#menu li {

    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Identifier adds space above the feature section, centers the text horizontally and makes 
the text twice as big as the default size */
#feature {
    margin-top: 85px;
    text-align: center;
    font-size: 110%;
}

blockquote {
    font-style: italic;
    text-align: center;
    color: #404040;
    white-space: normal;
}

/* Positioning of Footer icons horizontally across webpage */
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fafafa;
    margin: 10px;
    padding: 20px;
}

/* Whichs font awesome icons colour to black */
.social a {
    color: black;
}

/* When cursor points icon it turns blue */
.social a:hover i {
    color: blue;
}

/* Responsive for mobile device view */
@media (min-width: 280px) and (max-width: 480px) {
   
    .hero {
        top: 60px;
        height: 250px;
        width: 100%;
        background-image: url("../images/avro-night-small.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}

/* Responsive for iPad and Tablet views */
@media (min-width: 481px) and (max-width: 1200px) {
    
    .hero {
        top: 60px;
        height: 275px;
        width: 100%;
        background-image: url("../images/avro-night-small.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}

/* Responsive for Laptop view */
@media (min-width: 1201px) and (max-width: 1600px) {
    
    .hero {
        top: 60px;
        height: 350px;
        width: 100%;
        background-image: url("../images/avro-night-large.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}

/* Responsive for desktop view */
@media (min-width: 1601px) {
    
    .hero {
        top: 60px;
        height: 525px;
        width: 100%;
        background-image: url("../images/avro-night-large.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}